.product {
  &__list {
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 94px;
  }

  &-item {
    grid-column: span 3;
  }
}