.characterisctics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 138px;
  align-items: center;

  &__left,
  &__right {
    display: grid;
    grid-template-rows: auto;
    row-gap: 32px;
  }

  &__characterisctic {
    display: grid;
    grid-template-rows: auto;
    row-gap: 8px;
  }

  &__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: $color-text-main;
  }

  &__text {
    display: flex;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $color-text-main;

    &-flag {
      background-image: url(/icons/icon_italy_flag.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 5px;
      height: 24px;
      width: 24px;
    }
  }
}
