html {
  font-family: Mont, sans-serif;

  scroll-behavior: smooth;
  overflow-x: hidden;

  background-color: $bg-color;
}

body {
  width: 100vw;

  @media (min-width: 1440px) {
    margin: auto;

    max-width: 1440px;
  }
}

main {
  margin-top: calc(60px + 96px); // header height + title top margin
  min-height: 54vh;

  @include on-tablet {
    min-height: 79vh; // so that footer would always remain at the bottom
  }

  @include on-desktop {
    min-height: 65vh;
  }
}

button {
  cursor: pointer;
}
