.comment {
  margin: 16px auto;
  width: 650px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid $color-line;
  background-color: $color-white;

  &-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }
  
  &-container.visible {
    opacity: 1;
    max-height: max-content;
  }
  
  &-container.hidden {
    opacity: 0;
    max-height: 0;
  }

  ul {
    margin-bottom: 16px;
    list-style: none;
  }

  li {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $color-text-main;
  }

  &__header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    .stars {
      display: flex;
    
      &__star {
        width: 24px;
        height: 24px;
        margin-right: 4px;
        background-image: url(/icons/icon_empty_glass.svg);
        background-position: center;
        background-repeat: no-repeat;

        &--half {
          width: 24px;
          height: 24px;
          margin-right: 4px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/icons/icon_half_glass.svg);
        }
      }
    }
    
    .stars--1 .stars__star:nth-child(-n + 1),
    .stars--2 .stars__star:nth-child(-n + 2),
    .stars--3 .stars__star:nth-child(-n + 3),
    .stars--4 .stars__star:nth-child(-n + 4),
    .stars--5 .stars__star:nth-child(-n + 5) {
      background-image: url(/icons/icon_full_glass.svg);
    }
  }

  &__name {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: $color-text-main;
  }

  &__date {
    padding-bottom: 11px;
    align-items: start;
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: $color-gray;
  }

  &__content {
    margin-bottom: 16px;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    color: $color-text-main;
  }

  &__pros {
    margin-bottom: 4px;
    width: 18px;
    height: 18px;
    background-image: url(/icons/icon_plus.svg);
  }

  &__cons {
    margin-bottom: 4px;
    width: 18px;
    height: 18px;
    background-image: url(/icons/icon_minus.svg);
  }

  &__bottom {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__reply {
    display: flex;
    align-items: center;
    width: 76px;
    height: 26px;
    padding: 3px 10px;
    gap: 4px;
    border-radius: 8px;
    border: 0.5px solid $color-gray;
    background-color: white;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: $color-gray;
  }

  &__next {
    width: 20px;
    height: 20px;
    background-image: url(/icons/icon_reply.svg);
  }

  &__estimation {
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &__like {
    border: none;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    background-image: url(/icons/icon_like.svg);
  }

  &__dislike {
    border: none;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    background-image: url(/icons/icon_dislike.svg);
  }

  &-add {
    margin: 16px auto;
    width: 650px;
    border-radius: 16px;
    background-color: $color-white;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, height 1s ease;

    &.visible {
      opacity: 1;
      height: min-content;
      padding: 10px;
      border: 1px solid $color-line;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 28px;

      &-rate {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &-stars {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }

        &-title {
          font-family: $font-primary;
          font-size: 26px;
        }
      }

      &-field {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-label {
          display: flex;
          font-family: $font-secondary;
          font-size: 16px;
          font-weight: 500;
          line-height: 32px;
          text-align: left;
          color: $color-text-main;
        }

        &-input {
          resize: vertical;
          padding: 6px 12px;
          border-radius: 8px;
          line-height: 24px;
          border: 1px solid $color-line;
          font-family: $font-secondary;
          font-size: 16px;
          font-weight: 500;
          line-height: 32px;
          text-align: left;
          color: $color-text-main;
        }
      }

      &-button {
        margin: 0;
        width: 100%;
        height: 48px;
        padding: 6px 8px;
        border-radius: 10px;
        border: 2px solid $color-accent;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
        color: $color-accent;
        background-color: $color-white;
        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      
        &:hover {
          color: $color-white;
          background-color: $color-accent;
        }
      }
    }
  }

  &__leave {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
    max-width: 650px;
    padding: 10px;
    text-wrap: nowrap;
    border-radius: 10px;
    border: 1px solid $color-line;
    background-color: $color-white;

    button {
      padding-inline: 270px;
      border: none;
      background: none;
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: $color-gray;
    }
  }
}

.not-required {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: $color-gray;
}