.header {
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  z-index: 500;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 60px;
  border-radius: 16px;
  background-color: rgba(224, 221, 213, 0.5);
  backdrop-filter: blur(4px);

  &__left-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 40px;

    @include on-tablet {
      margin-inline: 0;
    }

    @include on-desktop {
      gap: 40px;
    }
  }

  &__logo {
    background-image: url(/icons/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;

    height: 40.5px;
    width: 100px;
    margin: 10px 0 10px 16px;

    &:hover {
      background-image: url(/icons/logo_hover.svg);
      transform: scale(1.05)
    }
  }

  &__links {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 32px;

    @include on-tablet {
      gap: 16px;
    }

    @include on-desktop {
      gap: 46px;
    }
  }

  &__link {
    margin: 0;
    letter-spacing: 0.04em;
    text-wrap: nowrap;
    text-align: center;
    font-weight: 400;

    @include on-tablet {
      @include text-type-full(22px, 33px, "Inter", $secondary-color);
    }

    @include on-desktop {
      @include text-type-full(22px, 33px, "Inter", $secondary-color);
    }

    transition: all .3s ease-in-out .1s;

    &:hover {
      color: $primary-color;
    }
  }

  &__right-group {
    display: flex;
    gap: 32px;
    padding: 0;
    margin-right: 16px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 32px;

    cursor: pointer;

    @include on-tablet {
      height: 32px;
      width: 32px;
    }

    @include on-desktop {
      height: 32px;
      width: 32px;
    }

    &:hover {
      border-color: $primary-color transparent;
    }
  }

  &__search {
    position: relative;
    background-image: url(/icons/icon_search.svg);
  }

  &__profile {
    position: relative;
    background-image: url(/icons/icon_profile.svg);
  }

  &__favorite {
    position: relative;
    background-image: url(/icons/icon_favourites.svg)
  }

  &__cart {
    position: relative;
    background-image: url(/icons/icon_cart.svg);
  }

  &__icon-text {
    position: absolute;
    top: -5px;
    right: -6px;

    @include flex-center;

    height: 18px;
    width: 18px;

    background-color: #872031;

    border: 1px solid $white;
    border-radius: 50%;

    @include text-type-full(10px, 12px, "Mont-semi-bold", $white);
  }

  &__menu, &__close {
    @include on-hover-icon;
  }

  &__menu {
    background-image: url(/icons/menu.svg);
  }

  &__close {
    background-image: url(/icons/close.svg);
  }
}

.selected-link {
  display: inline;

  position: relative;
  color: $primary-color;

  &::after {
    bottom: -10px; // approximate

    @include selected-tab(link-underline);

    @include on-tablet {
      bottom: -14px; // approximate
    }

    @include on-desktop {
      bottom: -14px; // approximate
    }
  }
}

.selected-tab {
  position: relative;
  width: 80%;

  &::after {
    bottom: 0;

    @include on-tablet {
      bottom: -12px; // approximate
    }

    @include on-desktop {
      bottom: -14px; // approximate
    }

    @include selected-tab(link-underline);
  }
}

.icon {
  width: 32px;
  height: 32px;
}

@keyframes link-underline {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(100%);
  }
}