.footer {
  background-image: url(./../../../public/backgrounds/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 88px);
  column-gap: 24px;
  padding: 0 60px;
  justify-content: center;

  &__content {
    grid-column: 7 / 12;
    align-self: center;

    &-bottom {
      display: flex;
      gap: 112px;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-family: Lora;
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    text-align: left;
    color: #F2ECD4;
  }

  &__text {
    width: 648px;
    height: 162px;
    margin-bottom: 64px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #fff;
  }

  &__contact-group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-link {
      display: flex;
      gap: 58px;
      text-decoration: none;
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      text-align: left;
      color: #E1DBC5;
    }
  }

  &__links-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 58px;
    text-wrap: nowrap;
  }

  &__right-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__left-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #E1DBC5;
  }
}
