.product-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.details {
  margin-top: 164px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 24px;
  justify-content: center;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    border-radius: 16px;
    border: 1px solid #E1DBC5;
    background-color: #fff;
  }

  &__picture {
    padding: 32px;
    max-width: 312px;
    max-height: 514px;
  }

  &__info {
    grid-column: span 6;
    grid-row: span 2;

    .stars {
      display: flex;
      align-items: center;
    
      &__star {
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/icons/icon_empty_glass_big.svg);
    
        &--half {
          background-image: url(/icons/icon_half_glass_big.svg);
        }
    
        &--full {
          background-image: url(/icons/icon_full_glass_big.svg);
        }
      }
    
      &__rating {
        margin-left: 16px;
        font-family: $font-secondary;;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        text-align: center;
        color: $color-text-2;
      }
    }

    &-sections {
      margin-top: 32px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;

      button {
        border: none;
        font-family: $font-secondary;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        background-color: $background;
        color: $color-text-main;
        position: relative;
      }

      &-comments {
        display: flex;
        align-items: baseline;
        gap: 8px;

        p {
          font-family: $font-secondary;;
          font-size: 14px;
          font-weight: 300;
          line-height: 21px;
          text-align: center;
          color: $color-text-2;
        }
      }

      .is-active {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background-color: $color-text-main;
          border-bottom: 1px solid $color-text-main;
          border-bottom-style: dashed;
        }
      }
    }

    &-line {
      margin: 24px 0 16px 0;
      width: 100%;
      height: 1px;
      border: 1px solid $color-line;
    }
  }

  &__title {
    font-family: $font-primary;
    font-size: 35px;
    font-weight: 500;
    line-height: 38.5px;
    text-align: left;
    color: $color-text-main;
    margin-bottom: 32px;
  }

  &__order {
    grid-column: span 3;
  }

  &__price {
    grid-column: 11 / -1;
    font-family: $font-secondary;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    text-align: right;
    color: $color-accent;
  }

  &__buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  &__like {
    border: none;
    height: 53px;
    width: 53px;
    background-image: url(/icons/icon_add_to_like.svg);
    background-color: $background;
  }

  &__liked {
    border: none;
    height: 53px;
    width: 53px;
    background-image: url(/icons/icon_add_to_like.svg);
    background-color: $background;
  }

  &__buy {
    display: flex;
    align-items: center;
    width: 204px;
    height: 52px;
    padding: 10px 24px;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid $color-accent-stroke;
    background-color: $color-accent;
    font-family: $font-secondary;;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-wrap: nowrap;
    color: #fff;

    &__icon {
      display: flex;
      width: 24px;
      height: 24px;
      background-image: url(/icons/icon_details.svg);
      background-position: center;
    }
  }

  &__bought {
    display: flex;
    align-items: center;
    width: 204px;
    height: 52px;
    padding: 10px 24px;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid $color-accent-stroke;
    background-color: $color-white;
    font-family: $font-secondary;;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-wrap: nowrap;
    color: $color-accent;

    &__icon {
      display: flex;
      width: 24px;
      height: 24px;
      background-image: url(/icons/icon_details.svg);
      background-position: center;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: 648px;
  height: auto;
  gap: 24px;

  &__text {
    font-family: $font-secondary;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $color-text-main;
  }

  &__readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 28px;
    padding: 2px 8px;
    gap: 4px;
    border-radius: 8px;
    border: 0.5px solid $color-text-2;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-wrap: nowrap;
    color: $color-text-2;

    &-up {
      display: flex;
      width: 24px;
      height: 24px;
      background-image: url(/icons/icon_description_up.svg);
      background-position: center;
    }

    &-down {
      display: flex;
      width: 24px;
      height: 24px;
      background-image: url(/icons/icon_description_down.svg);
      background-position: center;
    }
  }
}

.delivery {
  background-image: url(/backgrounds/delivery-banner.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  justify-content: center;

  &__offer {
    grid-column: 4 / 10;
    display: flex;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #E1DBC5;
    opacity: 0px;
    margin: 56px auto;
    background-color: $white;

    &-container {
      display: flex;
      gap: 16px;

      &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 247px;
        height: 155px;
      }

      &-icon {
        margin: 10px 0 4px;
        width: 24px;
        height: 24px;
        background-image: url(/icons/icon_bus.svg);
        background-position: center;
      }

      &-text {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: center;
        color: $color-text-main;
      }

      &-button {
        margin: 16px 0 10px;
        width: 145px;
        height: 40px;
        padding: 5px 32px;
        gap: 8px;
        border-radius: 8px;
        border: 0.5px 0px 0px 0px;
        border: 0.5px solid #E1DBC5;
        background: $color-second-accent;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        color: $color-white;
      }

      &-image {
        width: 233px;
        height: 155px;
        border-radius: 16px;
        border: 1px solid #E1DBC5;

        &-button {
          border: none;
          background-color: $color-white;
          width: 24px;
          height: 24px;
          background-image: url(/icons/icon_delivery_close.svg);
          background-position: center;
        }
      }
    }
  }
}
