* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-secondary;
  background-color: $color-text-1;
}

button {
  cursor: pointer;
}
