// fonts

@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

$font-primary: 'Lora', serif;
$font-secondary: 'Inter', sans-serif;
$font-login: Baskerville Old Face;

// colors

$primary-color: #313237;
$secondary-color: #02402B;
$icon-color: #B4BDC3;
$element-color: #E2E6E9;
$bg-color: #FAFBFC;
$white: #fff;
$green: #27AE60;
$red: #EB5757;
$background: rgba(255, 247, 240, 255);

$color-text-slider:#F2ECD4;
$color-accent: #872031;
$color-second-accent: #16AC7A;
$color-accent-stroke: #731423;
$color-text-main: #02402B;
$color-text-1: #F2ECD4;
$color-white: #FFFFFF;
$color-stroke-1: #E1DBC5;
$color-green-main: #02402B;
$color-green-accent: #16AC7A;
$color-gray: #7B7B75;
$color-text-2: #7b7b75;
$color-line: #E1DBC5;
$color-total: #E7E7E7;
$color-about-block: #0E91AD;
$color-login-box: #faf6f1;
$color-login-border: #e0dcd5;
$color-login-error: #d32f2f;

// container

$grid-gutter-width: 30px !default;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;
$container-large-desktop: (1350px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;
